apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

# ✅ 你要 dev 放哪個 namespace
namespace: ai-chatbot-dev

images:
  - name: 533267110761.dkr.ecr.ap-northeast-1.amazonaws.com/ai-chatbot-app-dev
    newTag: v0.1.0

patches:
  - target:
      kind: ServiceAccount
      name: ai-chatbot-sa  # 請確認這跟 base/service-account.yaml 裡的名字一樣
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          eks.amazonaws.com/role-arn: arn:aws:iam::533267110761:role/eks-addons-bedrock-role-e11f02a
  - path: patch-deploy.yaml
  - path: patch-ingress.yaml
