- name: Setup Python for Pulumi (optional)
  ansible.builtin.include_tasks: py_dependency.yml
  vars:
    ansible_python_interpreter: /usr/bin/python3

- name: Pulumi login (optional)
  ansible.builtin.include_tasks: login.yml

- name: "Process Pulumi Stacks Serial Flow"
  ansible.builtin.include_tasks: deploy_stack.yml
  # 這裡用完整的清單，不需要過濾任何東西
  loop: "{{ pulumi_project_list | reverse if pulumi_action == 'destroy' else pulumi_project_list }}"
  loop_control:
    loop_var: current_project
  vars:
    current_stack_full_name: "{{ current_project }}-{{ pulumi_stack }}"

- name: Read Pulumi kubeconfig
  ansible.builtin.include_tasks: get_kubeconfig.yml
  vars:
    current_stack_full_name: "eks-{{ pulumi_stack }}"
  when: 
    - pulumi_action == "up"
    - "'eks' in pulumi_project_list"

- name: Destroy addons stack after EKS (ignore unreachable k8s)
  ansible.builtin.command:
    argv: [pulumi, destroy, --stack, "addons-{{ pulumi_stack }}", --yes]
  args:
    chdir: "{{ pulumi_workdir }}"  # 依你的實際目錄調整
  environment: "{{ pulumi_env | combine({'PULUMI_K8S_DELETE_UNREACHABLE': 'true'}) }}"
  changed_when: false
  when:
    - pulumi_action == "destroy"
