---

# 1. 變數名稱修正：
- name: "Run Pulumi Preview {{ current_stack_full_name }}"
  ansible.builtin.shell: |
    set -euo pipefail
    pulumi preview --stack {{ current_stack_full_name | default(pulumi_stack) }} --diff 2>&1 | tee {{ pulumi_preview_log }}
  args:
    chdir: "{{ pulumi_workdir }}"
    executable: /bin/bash
  environment:
    AWS_PROFILE: "{{ aws_profile | default(omit) }}"
    AWS_SHARED_CREDENTIALS_FILE: "{{ aws_credentials_file | default(omit) }}"
    AWS_CONFIG_FILE: "{{ aws_config_file | default(omit) }}"
    PULUMI_PYTHON_CMD: "{{ pulumi_venv_bin }}/python"
  register: preview_output
  changed_when: false
#  no_log: true
  when: 
    - pulumi_run_preview | bool
    - pulumi_action != 'destroy'

# 2. 顯示結果
- name: Show Preview Result
  ansible.builtin.debug:
    var: preview_output.stdout_lines
  when: preview_output.stdout_lines is defined