---
  - name: Delete ArgoCD Applications (stop GitOps reconciliation)
    kubernetes.core.k8s:
      kubeconfig: "{{ kubeconfig }}"
      state: absent
      api_version: argoproj.io/v1alpha1
      kind: Application
      namespace: "{{ argocd_namespace }}"
      name: "{{ item }}"
    loop: "{{ argocd_apps_to_delete }}"
    ignore_errors: false

  - name: Destroy [addons-{{ pulumi_stack }}]
    ansible.builtin.command: >-
      pulumi destroy --stack addons-{{ pulumi_stack }} --yes
    args:
      chdir: "{{ pulumi_workdir }}"
    environment: "{{ pulumi_env }}"