---

- name: Fetch Infrastructure Facts (Pulumi Outputs)
  ansible.builtin.import_tasks: fetch_facts.yml
  tags: [facts, install]

- name: Install controllers (ArgoCD/ESO/Reloader)
  ansible.builtin.import_tasks: install.yml
  when: pulumi_action == 'up'
  tags: [install]

- name: Preflight (connectivity & cluster readiness)
  when: 
    - preflight_enabled | bool
    - pulumi_action == 'up'
  ansible.builtin.import_tasks: preflight.yml
  tags: [preflight]

- name: destroy stack resources
  ansible.builtin.import_tasks: destroy.yml
  environment: "{{ pulumi_env }}"
  when: pulumi_action == 'destroy'

- name: destroy stack resources
  ansible.builtin.import_tasks: app_deploy.yml
  environment: "{{ pulumi_env }}"
  when: pulumi_action == 'deploy'
# - name: Configure ESO stores & externalsecrets
#   ansible.builtin.import_tasks: configure.yml
#   tags: [configure]

# - name: Verify end-to-end
#   when: verify_enabled | bool
#   ansible.builtin.import_tasks: verify.yml
#   tags: [verify]
