- name: Deploy full stack
  hosts: localhost
  connection: local
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}"
  collections:
    - amazon.aws
    - kubernetes.core
    - community.genera
  gather_facts: false
  roles:
    - role: infra_provision
      vars:
        pulumi_action: up
      tags: ["infra"]
    - role: app_deploy
      tags: ["app"]