- name: Deploy full stack
  hosts: localhost
  connection: local
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}"
  collections:
    - amazon.aws
    - kubernetes.core
    - community.genera
  gather_facts: false
  roles:
    - role: infra_provision
      vars:
        pulumi_action: up
      tags: ["infra"]
#    - ecr_login
#    - build_push_image
    - role: app_deploy     # only if EKS
      tags: ["app"]
#    - smoke_test