apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: apps
  namespace: argocd
spec:
  sourceRepos:
    - https://github.com/HarrisonZz/chatbot-devops-demo.git
  destinations:
    - server: "https://kubernetes.default.svc"
      namespace: "*"

  clusterResourceWhitelist:
  - group: ''
    kind: Namespace
