---
- name: Check Pulumi existence
  command: pulumi version
  register: pulumi_check
  ignore_errors: true
  changed_when: false

# ------------------------------------------------------------------------------
# 1. Pulumi CLI 安裝 (只有在找不到 pulumi 指令時才跑)
# ------------------------------------------------------------------------------
- name: Install Pulumi CLI
  block:
    - name: Download Pulumi install script
      ansible.builtin.get_url:
        url: https://get.pulumi.com
        dest: /tmp/install-pulumi.sh
        mode: '0755'

    - name: Run Pulumi install script
      ansible.builtin.command: /tmp/install-pulumi.sh --no-edit-path

    - name: Move Pulumi binaries to /usr/local/bin
      ansible.builtin.copy:
        src: "{{ ansible_env.HOME }}/.pulumi/bin/"
        dest: /usr/local/bin/
        mode: '0755'
        remote_src: yes
      become: yes
  when: pulumi_check.rc != 0

# ------------------------------------------------------------------------------
# 2. Pulumi Python 環境準備 (每次執行都會檢查，確保版本一致)
# ------------------------------------------------------------------------------
- name: Setup Pulumi Python Virtualenv
  ansible.builtin.pip:
    requirements: "{{ pulumi_workdir }}/requirements.txt"
    virtualenv: "{{ pulumi_venv_path }}"
    virtualenv_command: "python3 -m venv"
  # 這裡不需要 become，通常 venv 建立在使用者目錄下即可
  register: python_setup

- name: Debug Python Setup
  ansible.builtin.debug:
    msg: "Python dependencies updated!"
  when: python_setup.changed