---

- name: Install base packages
  ansible.builtin.include_tasks: install_package.yml
  when: prereq_mode == "install"

# kubectl (pinned)
- name: Install kubectl
  ansible.builtin.include_tasks: install_kubectl.yml
  when: prereq_mode == "install"

# helm (pinned)
- name: Install helm
  ansible.builtin.include_tasks: install_helm.yml
  when: prereq_mode == "install"

# pulumi (pinned)
- name: Install pulumi
  ansible.builtin.include_tasks: install_pulumi.yml
  when: prereq_mode == "install"

# awscli v2 (latest)
- name: Install awscli v2
  ansible.builtin.include_tasks: install_awscli.yml
  when: prereq_mode == "install" and awscli_install

- name: Verify prerequisites
  ansible.builtin.include_tasks: verify.yml