---

kubeconfig: "~/.kubeconfig"
kubecontext: ""
aws_profile: "{{ lookup('env', 'AWS_PROFILE') | default('default', true) }}"

# --- 路徑設定 ---
pulumi_workdir: "{{ playbook_dir }}/../../infra"
pulumi_use_venv: true
pulumi_venv_name: ".venv"
pulumi_requirements: "requirements.txt"
pulumi_venv_bin: "{{ pulumi_workdir }}/{{ pulumi_venv_name }}/bin"

pulumi_project_list:
  - registry
  - edge
  - network
  - eks

# --- 核心設定 ---
pulumi_action: up
pulumi_backend_url: ""
pulumi_access_token: ""

# --- 行為控制 ---
pulumi_run_preview: true
pulumi_up_skip_preview: true
pulumi_allow_destroy: false

aws_profile: "{{ lookup('env', 'AWS_PROFILE') | default('default', true) }}"

pulumi_env:
  KUBECONFIG: "{{ kubeconfig }}"
  HOME: "{{ lookup('env', 'HOME') }}"
  # 1. 權限：明確傳入 Token
  PULUMI_ACCESS_TOKEN: "{{ pulumi_access_token }}"
  
  # 2. 路徑：明確將 Venv 放在最前，並使用 lookup 抓取本機 PATH
  PATH: "{{ pulumi_venv_bin }}:{{ lookup('env', 'PATH') }}"
  
  # 3. AWS：明確指定 Profile
  AWS_PROFILE: "{{ aws_profile }}"
  
  # 4. [SRE 關鍵] 強制指定 Python Command，完全消除 "用錯 Python" 的風險
  PULUMI_PYTHON_CMD: "{{ pulumi_venv_bin }}/python"
  
  # 5. 優化：讓 Log 即時輸出，不要緩衝 (方便 Debug)
  PYTHONUNBUFFERED: "1"