---

kubeconfig: "~/.kubeconfig"
kubecontext: ""

# --- 路徑設定 ---
pulumi_workdir: "{{ playbook_dir }}/../../infra"
pulumi_requirements: "requirements.txt"
pulumi_project_list:
  - registry
  - edge
  - network
  - eks

# --- 核心設定 ---
pulumi_action: up
pulumi_backend_url: ""

# --- 行為控制 ---
pulumi_run_preview: true
pulumi_up_skip_preview: true
pulumi_allow_destroy: false

aws_profile: "{{ lookup('env', 'AWS_PROFILE') | default('default', true) }}"

pulumi_env:
  KUBECONFIG: "{{ kubeconfig }}"
  HOME: "{{ lookup('env', 'HOME') }}"
  # 1. 權限：明確傳入 Token
  environment:
  # 3. AWS：明確指定 Profile
  AWS_PROFILE: "{{ aws_profile }}"
  
  # 5. 優化：讓 Log 即時輸出，不要緩衝 (方便 Debug)
  PYTHONUNBUFFERED: "1"