name: Docker Image CI

on:
  push:
    branches: ["main"]

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ap-northeast-1
      ROLE_ARN: arn:aws:iam::533267110761:role/github-actions-oidc-role
      IMAGE_TAG: local

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC -> AssumeRole)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Build Pulumi Build-Env Image
        run: |
          set -euo pipefail
          docker build . --file Dockerfile --tag pulumi-build-env:${IMAGE_TAG}

      - name: Execute build env in background
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        run: |
          set -euo pipefail
          docker run -d \
            --name ansible-platform-runner \
            -e AWS_REGION="${AWS_REGION}" \
            -e AWS_DEFAULT_REGION="${AWS_REGION}" \
            -e AWS_ACCESS_KEY_ID \
            -e AWS_SECRET_ACCESS_KEY \
            -e AWS_SESSION_TOKEN \
            -e PULUMI_ACCESS_TOKEN \
            -v "${PWD}:/work" -w /work/ansible \
            pulumi-build-env:${IMAGE_TAG} \
            tail -f /dev/null

      - name: Verify the Container env for image build
        run: |
          set -euo pipefail
          docker exec ansible-platform-runner \
          bash -lc "
            ansible-playbook playbooks/bootstrap.yml
          "
      - name: Provision Platform via Ansible
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        run: |
          set -euo pipefail
          docker exec ansible-platform-runner \
          bash -lc "
            ansible-playbook playbooks/platform_up.yml -t infra
          "
      - name: Provision Platform Addons via Ansible
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        run: |
          set -euo pipefail
          docker exec ansible-platform-runner \
          bash -lc "
            ansible-playbook playbooks/platform_up.yml -t app --skip-tags preflight
          "

      - name: Cleanup container
        if: always()
        run: |
          docker rm -f ansible-platform-runner >/dev/null 2>&1 || true
